* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min=height: 100vh;
    background-color: #ffffff;
    line-height: 1.4;
}

h1 {
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 100%;
    max-width: 300px;
}

div.helptext {
    display: none;
}

ul.errorlist {
    outline: none;
    border: 1px solid red;
    background: red;
    border-radius: 5px;
    padding: 4px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-left {
    width: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 8px;
}