{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h1 class="">Welcome to homepage</h1>
  <a href="/about" class="">About</a>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla laborum ullam modi deserunt, maxime iste maiores reiciendis minus dolorem enim debitis, asperiores in repellat nemo! Rerum a cum sed quas! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint exercitationem ab odio accusantium dolores ratione, maiores laudantium quidem officiis accusamus.
{% endblock %}