<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App | Bukopy
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    {% comment %} <nav class="nav">
        <div class="navbar">
            <div class="nav-left">
                <span class="brand">
                    Bukopy 
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="close-btn">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                <div class="nav-links">
                    <a href="/" class="nav-link">Feed</a>
                    <a href="/about" class="nav-link">About</a>
                
                    {% if user.is_authenticated %}
                        <a href="{% url 'posts:list' %}" class="nav-link">Posts</a>
                        <a href="{% url 'posts:new-post' %}" class="nav-link">New Post</a>
                    {% endif %}
    
                   
                      
                </div>
            </div>
    
            {% if user.is_authenticated %}
    
            <div class="nav-right">
                <span class="user-icon">
                    {{ user.username }}
                </span>
                <form action="{% url 'users:logout' %}" class="logout" method="post">
                    {% csrf_token %}
                    <button class="logout-btn">Logout</button>
                </form>
            </div>
            {% else %}
            <div class="nav-right">
                <a href="{% url 'users:login' %}" class="nav-link">Login</a>
                <a href="{% url 'users:register' %}" class="nav-link">Register</a>
            </div>
            {% endif %}
    
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hamburger-btn">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>        
    </nav> {% endcomment %}


    <div class="container">
        <header class="header">
            <span class="branding">
                Bukopy
            </span>
            <nav class="nav" id="nav">
                <ul class="navlinks">
                    <li class="link">
                        <a href="/" class="">Feed</a>
                    </li>
                    {% comment %} <li class="link">
                        <a href="/about" class="">About</a>
                    </li> {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="link">
                        <a href="{% url 'posts:list' %}" class="">Posts</a>
                    </li>
                    <li class="link">
                        <a href="{% url 'posts:new-post' %}" class="">New Post</a>
                    </li>
                
                    {% endif %}
                </ul> 
    
                {% comment %} {% if user.is_authenticated %} {% endcomment %}
        
    
                <div class="nav-cta">
                    {% if user.is_authenticated %}
                        <span class="user-icon">
                            {{ user.username }}
                        </span>
                        <form action="{% url 'users:logout' %}" class="" method="post">
                            {% csrf_token %}
                            <button class="logout-btn">Logout</button>
                        </form>
                    {% else %}
                    <a href="{% url 'users:login' %}" class="btn login-btn">Login</a>
                    <a href="{% url 'users:register' %}" class="btn register-btn">Register</a>
                    {% endif %}
                </div>
            </nav>
            <div class="mobile-menu-btn" id="mobile-menu">
                <span class="menu-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" class="size-6 burger-menu-btn menu-btn visible" id="burger-menu-btn">
                        <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>
                      
                </span>
                <span class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" class="size-6 close-menu-btn menu-btn" id="close-menu-btn">
                        <path strokeLinecap="round" strokeLinejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                                           
                </span>
            </div>
        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
    </div>

</body>
</html>