{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
<section class="posts-page">
  <article class="posts-page__article">
    <img src="{{ post.banner.url }}" alt="{{ post.title }}" class="banner">
    <h1 class="">
      {{ post.title }}
    </h1>
    <p class="post__body">{{ post.date }}</p>
    <p class="post__body">Written by: {{ post.author }}</p>
    <p class="post__body">{{ post.body }}</p>

    {% if user.is_authenticated and user == post.author %}
      <div class="action-btn">
        <a href="{% url 'posts:post-edit' post.slug %}" class="edit-btn">
          <span >Edit Post</button>
        </a>
        <form action="{% url 'posts:post-delete' post.slug %}" method="POST" class="delete-form">
          {% csrf_token %}
          <button type="submit" class="delete-btn">Delete Post</button>
        </form>
      </div>
    {% endif %}
  </article>
</section>
{% endblock %}